[tool.poetry]
name = "mercado"
version = "0.1.4"
description = "All-In-One Development CLI Tools Multi-platform Marketplace"

authors = [
    "YuviGold"
]

repository = "https://github.com/YuviGold/mercado"
readme = "README.md"

keywords = ["cli", "devops"]

[tool.poetry.dependencies]
python = "^3.10"

humanize = "^4.4.0"
requests = "^2.28.1"
rich = "^12.6.0"
typer = ">=0.6.1,<0.8.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
flake8 = "^5.0.4"
cogapp = "^3.3.0"
autopep8 = "^2.0.0"

[tool.poetry.scripts]
mercado = "mercado.cli:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
